.h-social-icon {
  margin-top: 2em;
  width: 80%;
}

.h-social-icon a {
  border: 1px solid #f1f1f1 ;
  color: #b5876d;
  transition: all 0.3s linear 0s;
  font-size: 1.2em;
  padding: 0.1em 0.6em;
}

.h-social-icon a:hover{
  background-color: #b5876d ;
  color:#f1f1f1  ;
}

.App{
  text-align: center;
}

.h_our_room_box{
  padding: 0;
  margin: 0;
}

.h_our_room_box>div{
  margin: 0;
  padding: 0;
  width: 25.5%;
  height: 100%;
}
.h_our_room_box img{
  
  width: 100%;
  height: 100%;
}

.h_our_room_box p{
  /* color: #606060; */
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.h_our_room_box p{
  margin-top: -10em;
  color: white;
}

.h_card_body_hover{
  /* display: none; */
 opacity: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.5s ease 0s;
}
.h_card_body_hover:hover{
  opacity: 1;
}
.h_our_room{
  overflow: hidden;
  cursor: pointer;
  z-index: 2;

}
.h_card_btn:hover{
background-color: white;
color: #b5876d;
}

#logo{
  margin-left: -20em;
}

.single-slide{
  background-image: url(/);
}